---
import "@/styles/globals.css";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="United Academy">
  <main class="bg-gray-100 min-h-screen">
    <div class="container">
      <img
        src={"/principals-desk-banner.jpg"}
        class="rounded-md w-full h-auto max-h-80"
        alt="About Banner"
      />
      <div class="bg-white py-5 my-5 rounded-md shadow-sm">
        <h1 class="text-gray-600 sm:text-4xl text-2xl px-10 font-semibold">
          Principal’s Desk
        </h1>
      </div>
      <div class="flex justify-center w-full">
        <img
          src="https://github.com/shadcn.png"
          class="h-60 w-60 rounded-md"
          alt=""
        />
      </div>
      <div class=" sm:text-xl py-10 space-y-5 text-base text-gray-600 mx-auto sm:w-3/4 w-full ">
        <h1 class=" font-bold ">Dear Parents,</h1>
        <p class="">
          We are happy to be back and how! Not that we ever took a breather. But
          yes, the pandemic did put a forced break on our ‘physical’ presence.
          Shifting education ‘online’ was the ‘new normal’ and we, at Delhi
          Public School Ruby Park, judiciously used the time to revamp, attune
          and upskill ourselves. Our sole focus concentrating on eradicating any
          teaching-learning gap and engaging students in interesting and
          insightful lessons. It was a job well-done by our team of diligent and
          meticulous planners and educators.
        </p>
        <p class="">
          But that was 2020. The New Year has ushered a new beginning. DPS Ruby
          Park has opened its gates yet again to warmly welcome freshers and
          scholars alike. Better-prepared, better-suited and equipped with the
          best of technology, we are raring to go, pick up from where we had
          left off and continue doing what we do best. Moulding those mounds of
          clay into mature, confident and responsible leaders of tomorrow with a
          remarkable sense of duty as human beings.
        </p>
        <p class="">
          If today we have managed to carve a niche for ourselves, it has been
          because of your constant support and unwavering faith in our efforts
          and attempts, dear parents. We, as a team, cannot thank you enough and
          continue to hope and believe that we shall work in unison for the best
          interests of our young minds.
        </p>
      </div>
    </div>
  </main>
</Layout>
