---
import Layout from "@/layouts/Layout.astro";
import "@/styles/globals.css";
---

<Layout title="United Academy">
  <main class="bg-gray-100 min-h-screen">
    <div class="container">
      <img
        src={"/aboutBanner.jpg"}
        class="rounded-md w-full h-auto max-h-80"
        height={500}
        alt="About Banner"
      />
      <div class="bg-white py-5 my-5 rounded-md shadow-sm">
        <h1 class="text-gray-600 sm:text-4xl text-2xl px-10 font-semibold">
          About Us
        </h1>
      </div>
      <div class="sm:px-10 px-0">
        <h1 class="sm:text-4xl text-2xl font-semibold text-blue-600 py-5">
          About United Academy
        </h1>

        <div class="py-5 space-y-5 sm:text-xl text-base text-gray-600">
          <p class="">
            In 2002, OmDayal Group embarked on a mission to redefine education
            through a harmonious blend of technology and tradition. As
            visionaries, they pioneered a paradigm shift in the educational
            landscape, placing a strong emphasis on technology, innovation, and
            an integrated learning milieu. Recognizing the profound impact of
            early intervention, the group began nurturing minds from a young age
            and continued guiding them until they blossomed into erudite
            scholars.
          </p>
          <p class="">
            OmDayal Group aspires to craft a holistic educational experience
            that combines deep conceptual knowledge with relevant, new-age
            competencies. Utilizing cutting-edge teaching and learning
            techniques, they empower students to confidently navigate the
            contemporary world.
          </p>
          <p class="">
            Furthermore, OmDayal Group believes in evolving with the times. As
            the world has undergone rapid change, the Group remains steadfast in
            its commitment to adapt and integrate new learning methodologies.
            Their proactive approach ensures that students are not only prepared
            for the challenges of today but are also equipped to be the
            innovative leaders of tomorrow. Through a perfect confluence of
            tradition and technology, the Group stands as a beacon of
            progressive education, lighting the path for countless young minds
            to achieve their dreams and aspirations.
          </p>
        </div>
        <h1 class="sm:text-2xl text-xl font-semibold text-gray-600 py-5">
          United Academy Milestones
        </h1>
        <div class="space-y-5 py-5">
          <div class="rounded-md grid sm:grid-cols-3 grid-cols-1">
            <div
              class="col-span-2 bg-gradient-to-r from-cyan-100 to-blue-100 order-last sm:order-none"
            >
              <p class="items-center p-5 sm:text-xl text-base flex h-full">
                The OmDayal Group founded DPS Ruby Park, one of the leading CBSE
                schools in Kolkata under the aegis of DPS Society, with the
                objective of setting a benchmark for quality education in
                keeping with the latest pedagogical trends across the country.
              </p>
            </div>
            <img src={"/schlimg.jpg"} class="h-full rounded-r-md" alt="" />
          </div>
          <div class="rounded-md grid sm:grid-cols-3 grid-cols-1">
            <div
              class="col-span-2 bg-gradient-to-r from-cyan-100 to-blue-100 order-last"
            >
              <p class="items-center p-5 sm:text-xl text-base flex h-full">
                The OmDayal Group founded DPS Ruby Park, one of the leading CBSE
                schools in Kolkata under the aegis of DPS Society, with the
                objective of setting a benchmark for quality education in
                keeping with the latest pedagogical trends across the country.
              </p>
            </div>
            <img src={"/schlimg.jpg"} class="h-full rounded-l-md" alt="" />
          </div>
          <div class="rounded-md grid sm:grid-cols-3 grid-cols-1">
            <div
              class="col-span-2 bg-gradient-to-r from-cyan-100 to-blue-100 order-last sm:order-none"
            >
              <p class="items-center p-5 sm:text-xl text-base flex h-full">
                The OmDayal Group founded DPS Ruby Park, one of the leading CBSE
                schools in Kolkata under the aegis of DPS Society, with the
                objective of setting a benchmark for quality education in
                keeping with the latest pedagogical trends across the country.
              </p>
            </div>
            <img src={"/schlimg.jpg"} class="h-full rounded-r-md" alt="" />
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>
