---
import Layout from "@/layouts/Layout.astro";
import Carousel from "@/components/global/carousel.astro";
import Teachers from "@/components/global/teacher.astro";
import HomeGallery from "@/components/global/homegallery.astro";

import { TbTargetArrow, TbPhoto } from "react-icons/tb";
import { TfiAnnouncement } from "react-icons/tfi";
import Announcement from "@/components/global/announcement.astro";
---

<Layout title="United Academy">
  <main class="bg-gray-100 relative">
    <Carousel />

    <div class="mx-4 sm:container space-y-16 py-6">
      <div
        class="bg-white flex flex-wrap text-gray-600 justify-around gap-2 py-2 sm:py-4 font-bold rounded-md"
      >
        <a
          href="/the-school/mission-vision"
          class="flex items-center hover:text-primary gap-2"
        >
          <TbTargetArrow client:only="react" /> Mission & Vision
        </a>
        <a
          href="/the-school/announcements"
          class="flex items-center hover:text-primary gap-2"
        >
          <TfiAnnouncement client:only="react" /> Announcement
        </a>
        <a
          href="/the-school/gallery"
          class="flex items-center hover:text-primary gap-2"
        >
          <TbPhoto client:only="react" /> Happening
        </a>
      </div>

      <div class="space-y-4 border border-primary px-10 py-5 rounded-md">
        <h1
          class="flex justify-center sm:font-bold font-medium text-2xl sm:text-3xl text-primary text-center"
        >
          Announcements
        </h1>
        <div class="space-y-2">
          <Announcement />
          <a
            class="underline hover:text-primary"
            href="/the-school/announcements">see more</a
          >
        </div>
      </div>

      <div class="space-y-8">
        <h1
          class="flex justify-center sm:font-bold font-medium text-2xl sm:text-3xl text-primary text-center"
        >
          UNITED ACADEMY: THE FIRST CHOICE OF PARENTS
        </h1>
        <div class="grid grid-col-1 content-center md:grid-cols-3 gap-4 h-full">
          <div
            class="col-span-1 md:col-span-2 space-y-4 flex flex-col items-start justify-center h-full"
          >
            <div class="sm:text-lg">
              <p>
                This school is the first educational initiative of OmDayal Group
                under the aegis of The Delhi Public School Society. Founded in
                2003, this school aims to raise the bar of excellence through
                quality education and by honing new-age competencies, life
                skills, lateral thinking and creative potential in an integrated
                learning environment.
              </p>
              <p>
                DPS Ruby Park, a CBSE affiliated school, has empowered students
                to step into the wider communities as confident and future-ready
                individuals, able to take the world in their stride.
              </p>
            </div>
            <a
              href="/the-school/about-us"
              class="inline-block hover:bg-accent text-secondary hover:text-primary border-primary border bg-primary font-semibold py-2 px-4 rounded-full relative"
            >
              Read More
            </a>
          </div>

          <img
            src={"/schlimg.jpg"}
            alt="school picture"
            class="h-auto max-w-full overflow-hidden rounded-md shadow-md"
          />
        </div>
      </div>

      <Teachers />

      <div class="flex flex-wrap px-2">
        <div class="md:w-1/3 w-full bg-white mx-auto">
          <img
            src="/infra-main-img.webp"
            class="min-w-full h-full"
            alt="image"
          />
        </div>
        <div class="md:w-2/3 w-full bg-white mx-auto">
          <div
            class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-1"
          >
            <div class="bg-white shadow-md">
              <img
                src={"/infra-img1.webp"}
                alt="Image 1"
                class="w-full h-auto"
              />
            </div>
            <div class="bg-white relative group">
              <img
                src={"/infra-img1.webp"}
                alt="Image 2"
                class="object-cover w-full h-full"
              />
              <div
                class="absolute inset-0 bg-gradient-to-r from-sky-500 to-indigo-500 opacity-70 flex items-center justify-center"
              >
              </div>
              <div
                class="absolute inset-0 z-10 w-full h-full flex flex-col justify-center items-center"
              >
                <h1 class="text-3xl font-bold text-white">1K +</h1>
                <p class="sm:text-xl text-white">STUDENTS</p>
              </div>
            </div>
            <div class="bg-white shadow-md">
              <img
                src={"/infra-img1.webp"}
                alt="Image 3"
                class="w-full h-auto"
              />
            </div>
            <div class="bg-white relative group">
              <img
                src={"/infra-img1.webp"}
                alt="Image 4"
                class="object-cover w-full h-full"
              />
              <div
                class="absolute inset-0 bg-gradient-to-r from-sky-500 to-indigo-500 opacity-70 flex items-center justify-center"
              >
              </div>
              <div
                class="absolute inset-0 z-10 w-full h-full flex flex-col justify-center items-center"
              >
                <h1 class="text-3xl font-bold text-white">1K +</h1>
                <p class="sm:text-xl text-white">STUDENTS</p>
              </div>
            </div>
            <div class="bg-white shadow-md">
              <img
                src={"/infra-img1.webp"}
                alt="Image 5"
                class="w-full h-auto"
              />
            </div>
            <div class="bg-white relative group">
              <img
                src={"/infra-img1.webp"}
                alt="Image 1"
                class="object-cover w-full h-full"
              />
              <div
                class="absolute inset-0 bg-gradient-to-r from-sky-500 to-indigo-500 opacity-70 flex items-center justify-center"
              >
              </div>
              <div
                class="absolute inset-0 z-10 w-full h-full flex flex-col justify-center items-center"
              >
                <h1 class="text-3xl font-bold text-white">1K +</h1>
                <p class="sm:text-xl text-white">STUDENTS</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="">
        <h1
          class="flex pt-10 justify-center mb-10 sm:font-bold font-medium text-lg sm:text-3xl text-gray-700"
        >
          The Beauty of Diversity
        </h1>
        <p
          class="flex justify-center mx-auto md:w-3/4 w-full sm:text-xl text-gray-600"
        >
          At DPS Ruby Park, Kolkata, we place a profound emphasis on the
          holistic development of the body, mind, and spirit. Students are
          immersed in various celebrations and social events within the school
          environment. We firmly believe that such celebrations help students
          connect with diverse cultural beliefs and traditions. This not only
          instils a deeper respect for the nation but also fosters understanding
          and appreciation for one another's customs and traditions.
        </p>
        <HomeGallery />
      </div>
    </div>
  </main>
</Layout>
