---
import Layout from "@/layouts/Layout.astro";
import Carousel from "@/components/global/carousel.astro";
import Teachers from "@/components/global/teacher.astro";
import HomeGallery from "@/components/global/homegallery.astro";
import "@/styles/globals.css";
import { TbTargetArrow } from "react-icons/tb";
import { TfiAnnouncement } from "react-icons/tfi";
---

<Layout title='United Academy'>
	<main class='bg-gray-100'>
		<div class='container'>
			<Carousel />
			<div class=''>
				<div
					class='bg-white flex flex-wrap text-gray-600 justify-around p-8 font-bold rounded-md'
				>
					<h1 class='flex items-center hover:text-blue-600'>
						<span class='px-2 text-xl'><TbTargetArrow client:only react /></span
						> Mission & Vision
					</h1>
					<h1 class='flex items-center hover:text-blue-600'>
						<span class='px-2 text-xl'
							><TfiAnnouncement client:only react /></span
						> Announcemnet
					</h1>
					<h1 class='flex items-center hover:text-blue-600'>
						<span class='px-2 text-xl'><TbTargetArrow client:only react /></span
						> Happening
					</h1>
				</div>
				<div class='pt-10'>
					<h1
						class='flex justify-center sm:font-bold font-medium text-lg sm:text-2xl text-gray-700'
					>
						UNITED ACADEMY: THE FIRST CHOICE OF PARENTS
					</h1>
					<div
						class='grid grid-col-1 content-center md:grid-cols-3 gap-4 py-14'
					>
						<div class='col-span-1 md:col-span-2 content-center'>
							<div class='text-xl text-gray-600'>
								<p class=''>
									This school is the first educational initiative of OmDayal
									Group under the aegis of The Delhi Public School Society.
									Founded in 2003, this school aims to raise the bar of
									excellence through quality education and by honing new-age
									competencies, life skills, lateral thinking and creative
									potential in an integrated learning environment.
								</p>
								<p class='mt-5'>
									DPS Ruby Park, a CBSE affiliated school, has empowered
									students to step into the wider communities as confident and
									future-ready individuals, able to take the world in their
									stride.
								</p>
							</div>
							<button
								class='my-10 bg-blue-500 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded-full relative'
							>
								Read More
							</button>
						</div>

						<img
							src={"/schlimg.jpg"}
							alt=''
							class='h-auto max-w-full overflow-hidden rounded-md shadow-md'
						/>
					</div>
				</div>
				<h1
					class='flex justify-center mb-10 sm:font-bold font-medium text-lg sm:text-3xl text-gray-700'
				>
					UNITED ACADEMY: THE FIRST CHOICE OF PARENTS
				</h1>
				<h1
					class='flex justify-center mx-auto md:w-3/4 w-full text-xl text-gray-600'
				>
					The alumni of United Academy, Kolkata, are testaments to the
					institution's pursuit of excellence. Over the years, they have
					excelled in board exams and competitive arenas alike, underpinned by
					their deep-rooted values and virtues. Their accomplishments are a
					reflection of the dedicated mentorship of our distinguished faculty.
					Many have embarked on successful careers as CEOs, scientists,
					professors, and entrepreneurs, showcasing the comprehensive foundation
					provided by the school. Beyond academic brilliance, DPS Ruby Park's
					legacy lies in nurturing well-rounded individuals ready to face the
					complexities of the modern world.
				</h1>
				<Teachers />
				<div class='flex flex-wrap py-10 px-2'>
					<div class='md:w-1/3 w-full bg-white mx-auto'>
						<img
							src='/infra-main-img.webp'
							class='min-w-full h-full'
							alt='image'
						/>
					</div>
					<div class='md:w-2/3 w-full bg-white mx-auto'>
						<div
							class='grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-1'
						>
							<div class='bg-white shadow-md'>
								<img
									src={"/infra-img1.webp"}
									alt='Image 1'
									class='w-full h-auto'
								/>
							</div>
							<div class='bg-white relative group'>
								<img
									src={"/infra-img1.webp"}
									alt='Image 2'
									class='object-cover w-full h-full'
								/>
								<div
									class='absolute inset-0 bg-gradient-to-r from-sky-500 to-indigo-500 opacity-70 flex items-center justify-center'
								>
								</div>
								<div
									class='absolute inset-0 z-10 w-full h-full flex flex-col justify-center items-center'
								>
									<h1 class='text-3xl font-bold text-white'>1K +</h1>
									<p class='text-xl text-white'>STUDENTS</p>
								</div>
							</div>
							<div class='bg-white shadow-md'>
								<img
									src={"/infra-img1.webp"}
									alt='Image 3'
									class='w-full h-auto'
								/>
							</div>
							<div class='bg-white relative group'>
								<img
									src={"/infra-img1.webp"}
									alt='Image 4'
									class='object-cover w-full h-full'
								/>
								<div
									class='absolute inset-0 bg-gradient-to-r from-sky-500 to-indigo-500 opacity-70 flex items-center justify-center'
								>
								</div>
								<div
									class='absolute inset-0 z-10 w-full h-full flex flex-col justify-center items-center'
								>
									<h1 class='text-3xl font-bold text-white'>1K +</h1>
									<p class='text-xl text-white'>STUDENTS</p>
								</div>
							</div>
							<div class='bg-white shadow-md'>
								<img
									src={"/infra-img1.webp"}
									alt='Image 5'
									class='w-full h-auto'
								/>
							</div>
							<div class='bg-white relative group'>
								<img
									src={"/infra-img1.webp"}
									alt='Image 1'
									class='object-cover w-full h-full'
								/>
								<div
									class='absolute inset-0 bg-gradient-to-r from-sky-500 to-indigo-500 opacity-70 flex items-center justify-center'
								>
								</div>
								<div
									class='absolute inset-0 z-10 w-full h-full flex flex-col justify-center items-center'
								>
									<h1 class='text-3xl font-bold text-white'>1K +</h1>
									<p class='text-xl text-white'>STUDENTS</p>
								</div>
							</div>
						</div>
					</div>
				</div>

				<h1
					class='flex pt-10 justify-center mb-10 sm:font-bold font-medium text-lg sm:text-3xl text-gray-700'
				>
					The Beauty of Diversity
				</h1>
				<h1
					class='flex justify-center mx-auto md:w-3/4 w-full text-xl text-gray-600'
				>
					At DPS Ruby Park, Kolkata, we place a profound emphasis on the
					holistic development of the body, mind, and spirit. Students are
					immersed in various celebrations and social events within the school
					environment. We firmly believe that such celebrations help students
					connect with diverse cultural beliefs and traditions. This not only
					instils a deeper respect for the nation but also fosters understanding
					and appreciation for one another's customs and traditions.
				</h1>
				<HomeGallery />
			</div>
		</div>
	</main>
</Layout>
