---
import Layout from "@/layouts/Layout.astro";
import "@/styles/globals.css";
---

<Layout title='United Academy'>
	<main class='container'>
		<div class=''>
			<h1>Recent Update</h1>
		</div>
	</main>
</Layout>
