---
import "@/styles/globals.css";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="United Academy">
  <main class="bg-gray-100 min-h-screen">
    <div class="container">
      <img
        src={"../../public/mission_vision/mission_vision.jpg"}
        class="rounded-md w-full h-auto max-h-80"
        alt="About Banner"
      />
      <div class="bg-white py-5 my-5 rounded-md shadow-sm">
        <h1 class="text-gray-600 sm:text-4xl text-2xl px-10 font-semibold">
          Mission and Vision
        </h1>
      </div>
      <div class="sm:px-10 px-0">
        <div class="space-y-5 py-5">
          <div
            class="rounded-md bg-gradient-to-r from-cyan-100 to-blue-100 grid md:grid-cols-3 grid-cols-1"
          >
            <div class="col-span-2 order-last sm:order-none">
              <div class="items-center p-5 sm:text-xl text-base h-full">
                <h1 class="py-5 text-2xl text-blue-600 font-bold">Mission</h1>
                <p class="">
                  Our mission is Education for All, so we promote a calm,
                  energising, and intellectually stimulating environment where
                  every student stands an equal chance to showcase their
                  talents. Every child is born with a unique potential & ability
                  and does not necessarily have to follow in the footsteps of
                  others. We need to support them as they cultivate and harness
                  the inherent strength they are blessed with.
                </p>
                <p class="">
                  We strengthen our mission through the following practices:
                </p>
                <ul class="pl-5 list-disc list-inside">
                  <li class="">
                    Giving the young learners individualised attention and
                    recognising their latent talent.
                  </li>
                  <li class="">
                    Emphasising holistic development as we ensure a healthy
                    balance between academic, co-curricular, and
                    extra-curricular activities.
                  </li>
                  <li class="">
                    Catering to the students’ queries, raising the degree of
                    inquisitiveness in them.
                  </li>
                  <li class="">
                    reating and sustaining an environment of self-learning,
                    analytical thinking and practising social skills.
                  </li>
                  <li class="">
                    Igniting conscience and propensity in the students towards
                    the conservation of nature, maintaining harmony and giving
                    back to the communities
                  </li>
                </ul>
              </div>
            </div>
              <img
                src={"/mission_vision/mission-img1.jpg"}
                class="h-full w-full rounded-md"
                alt=""
              />
          </div>
          <div class="rounded-md grid sm:grid-cols-3 grid-cols-1">
            <div
              class="col-span-2 bg-gradient-to-r from-cyan-100 to-blue-100 order-last"
            >
              <div class="items-center p-5 sm:text-xl text-base h-full">
                <h1 class="text-2xl text-blue-600 font-bold py-2">Vision</h1>

                <p class="">
                  Delhi Public School, Ruby Park, Kolkata, is under the Om Dayal
                  Educational & Research Society, which constantly strives to
                  sustain the standards of excellence in all areas of
                  extra-curricular and curricular activities. Our moral
                  obligation and on-going work are to mould and shape future
                  generations to meet the challenges of the twenty-first
                  century. We envision a solid community of future leaders who
                  would be receptive to the winds of change and committed to
                  social responsibility while finding a delicate balance between
                  conventional values and contemporary ethos.
                </p>
              </div>
            </div>
            <img src={"/mission_vision/vision-img.jpg"} class="h-full w-full rounded-l-md" alt="" />
          </div>
          <div class="rounded-md grid sm:grid-cols-3 grid-cols-1">
            <div
              class="col-span-2 bg-gradient-to-r from-cyan-100 to-blue-100 order-last sm:order-none"
            >
            <div class="items-center p-5 sm:text-xl text-base h-full">
              <h1 class="text-2xl text-blue-600 font-bold py-2">Values</h1>

              <p class="">
                We at DPS always try to instil values like honesty,
                philanthropy, unity, sharing, and tolerance through various
                activities conducted in School. Values have always remained an
                integrated part of our curriculum, as our children start their
                day with morning assemblies which include prayer followed by
                thought for the day. Young absorbent minds are the best
                recipients of these values as they are so pure, and values
                inculcated in them at this early age would help them shape up as
                ‘future-ready’ global citizens. Regular value education classes
                are a part of the curriculum where children learn the correct
                values by listening or enacting stories and interacting with
                their teachers, who help them understand values. Our constant
                guidance profoundly shapes these young students’ minds during
                every stage of the learning process.
              </p>
            </div>
            </div>
            <img src={"/mission_vision/values-img.jpg"} class="h-full w-full rounded-r-md" alt="" />
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>
