---
import Layout from "@/layouts/Layout.astro";
import "@/styles/globals.css";
import { Holiday } from "@/components/global/holiday";
---

<Layout title="United Academy">
  <main class="bg-gray-100 min-h-screen">
    <div class="container pt-1 pb-2">
      <div class="bg-white py-5 my-5 rounded-md shadow-sm">
        <h1 class="text-gray-600 sm:text-4xl text-2xl px-10 font-semibold">
          Holiday List
        </h1>
      </div>
      <div class=" bg-white rounded-md md:w-4/5 w-full mx-auto ">
        <Holiday />
      </div>
    </div>
  </main>
</Layout>
