---
import Layout from "@/layouts/Layout.astro";
import { getSyllabus } from "@/lib/api";
import "@/styles/globals.css";
import { AiOutlineFilePdf } from "react-icons/ai";

const syllabus = await getSyllabus();

console.log(syllabus);


type Syllabus = {
  originalFilename: string;
  url: string;
};
---

<Layout title="Unites Academy">
  <main class="bg-gray-100 min-h-screen">
    <div class="container">
      <img
        src="/syllabus-banner.jpg"
        class="rounded-md w-full h-auto max-h-80"
        alt="About Banner"
      />
      <div class="bg-white py-5 my-5 rounded-md shadow-sm">
        <h1 class="text-gray-600 sm:text-4xl text-2xl px-10 font-semibold">
          Syllabus
        </h1>
      </div>
      <div
        class="grid grid-cols-1 py-10 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4"
      >
        {
          syllabus.map((it: {asset: Syllabus}) => (
            <div class="mx-auto rounded-md  hover:outline outline-blue-400 outline-2 text-center content-center bg-white w-52 h-52">
              <div class="flex flex-col justify-center items-center h-full">
                <a href={it.asset.url}>
                  <span class="text-6xl text-red-500">
                    <AiOutlineFilePdf client:only="react" />
                  </span>
                  <p class="py-5 text-2xl">{it.asset.originalFilename}</p>
                </a>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </main>
</Layout>
