---

---

<div>
	<section class='splide' id='carousel' aria-label='Homepage Image Carousel'>
		<div class='splide__track'>
			<ul class='splide__list'>
				<li class='splide__slide'>
					<div class='h-96 grid place-content-center'>
						<h1>Slide 01</h1>
					</div>
				</li>
				<li class='splide__slide'>
					<div class='h-96 grid place-content-center'>
						<h1>Slide 02</h1>
					</div>
				</li>
				<li class='splide__slide'>
					<div class='h-96 grid place-content-center'>
						<h1>Slide 03</h1>
					</div>
					lol
				</li>
			</ul>
		</div>
	</section>
</div>
<script>
	// Default theme
	import "@splidejs/splide/css";
	import Splide from "@splidejs/splide";

	new Splide("#carousel").mount();
</script>
