---
import { getHomepageBanners } from "@/lib/api";
import { urlForImage } from "@/lib/utils";

const images = await getHomepageBanners();
---

<div class="-mx-8 sm:mx-0">
	<section class='splide' id='carousel' aria-label='Homepage Image Carousel'>
		<div class='splide__track'>
			<ul class='splide__list'>
				{images.map((it: any) => (
					<li class='splide__slide'>
						<img
							src={urlForImage(it.asset).url()}
							loading='lazy'
							alt="Homepage Banner Image"
						/>
					</li>
				))}
			</ul>
		</div>
	</section>
</div>
<script>
	// Default theme
	import "@splidejs/splide/css";
	import Splide from "@splidejs/splide";

	new Splide("#carousel",  {
  type   : 'loop',
	autoplay: true,
	arrows: false,

}).mount();
</script>
