---
import { getHomepageBanners } from "@/lib/api";
import { urlForImage } from "@/lib/utils";

const images = await getHomepageBanners();
---

<div class="absolute left-0 right-0 top-0 max-w-[1800px] mx-auto">
  <section class="splide" id="carousel" aria-label="Homepage Image Carousel">
    <div class="splide__track">
      <ul class="splide__list">
        {
          images.map((it: any) => (
            <li class="splide__slide aspect-[343/90]">
              <img
                src={urlForImage(it.asset).url()}
                loading="lazy"
                alt="Homepage Banner Image"
              />
            </li>
          ))
        }
      </ul>
    </div>
  </section>
</div>

<!-- Placeholder with aspect ratio -->
<div class="aspect-[343/90]"></div>

<script>
  import "@splidejs/splide/css";
  import Splide from "@splidejs/splide";

  new Splide("#carousel", {
    type: "loop",
    autoplay: true,
    arrows: false,
  }).mount();
</script>
