---
import { MdFacebook, MdWhatsapp, MdMail } from "react-icons/md";
import { FaYoutube } from "react-icons/fa";
---

<footer class='container'>
	<div class='flex flex-col items-center'>
		<h1>The Academy Community</h1>
		<h2>Share your Academy pride with the world!</h2>

		<div class='flex text-5xl gap-8'>
			<MdFacebook />
			<MdWhatsapp />
			<MdMail />
			<FaYoutube />
		</div>
	</div>

	<div class='flex mx-auto w-fit'>
		<p>©2023 United Academy, Samsi</p>
		<div>
			<a href=''>Privacy Policy</a>
			<a href=''>Mandatory Public Disclosure</a>
		</div>
	</div>
</footer>
