---
import { MdFacebook, MdWhatsapp, MdMail } from "react-icons/md";
import { FaYoutube } from "react-icons/fa";
import { MobileIcon, PaperPlaneIcon } from "@radix-ui/react-icons";

const year = new Date().getFullYear();
---

<footer class="w-full bg-white py-10">
  <div class="container mx-auto">
    <div class="-mx-4 px-4 gap-5 flex justify-between flex-wrap">
      <div class="">
        <div class="flex flex-col justify-between h-full gap-2">
          <a href="/" class="flex items-center gap-2">
            <img src={"/favicon.svg"} alt={"Logo"} height={72} width={72} />
            <span class="text-2xl">United Academy</span>
          </a>
          <div class="flex items-center gap-2">
            <PaperPlaneIcon className="scale-125" client:only="react" />
            <address>United Academy, Samsi, Malda, West Bengal, India</address>
          </div>
          <div class="flex items-center gap-2">
            <MobileIcon className="scale-125" client:only="react" />
            <a href="tel:+91">9679774449</a>
          </div>
        </div>
      </div>
      <div class="">
        <div class="">
          <h4 class="text-dark text-lg mb-2 font-semibold">The School</h4>
          <ul class="">
            <li class="">
              <a
                href="/about"
                class="text-gray-700 hover:text-black inline-block text-base leading-loose"
              >
                About Us
              </a>
            </li>
            <li>
              <a
                href="javascript:void(0)"
                class="text-gray-700 hover:text-black inline-block text-base leading-loose"
              >
                Infrastructure
              </a>
            </li>
            <li>
              <a
                href="javascript:void(0)"
                class="text-gray-700 hover:text-black inline-block text-base leading-loose"
              >
                Gallery
              </a>
            </li>
            <li>
              <a
                href="javascript:void(0)"
                class="text-gray-700 hover:text-black inline-block text-base leading-loose"
              >
                Contact
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="">
        <div class="w-full">
          <h4 class="text-dark text-lg mb-2 font-semibold">Academics</h4>
          <ul>
            <li>
              <a
                href="javascript:void(0)"
                class="text-gray-700 hover:text-black inline-block text-base leading-loose"
              >
                Syllabus
              </a>
            </li>
            <li>
              <a
                href="/holiday-list"
                class="text-gray-700 hover:text-black inline-block text-base leading-loose"
              >
                Holiday List
              </a>
            </li>
            <li>
              <a
                href="javascript:void(0)"
                class="text-gray-700 hover:text-black inline-block text-base leading-loose"
              >
                Fees Structure
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="">
        <div class="w-full">
          <h4 class="text-dark text-lg mb-2 font-semibold">Students</h4>
          <ul>
            <li>
              <a
                href="/curricular-activities"
                class="text-gray-700 hover:text-black inline-block text-base leading-loose"
              >
                Co-Curricular Activities
              </a>
            </li>
            <li>
              <a
                href="javascript:void(0)"
                class="text-gray-700 hover:text-black inline-block text-base leading-loose"
              >
                School Timing
              </a>
            </li>
            <li>
              <a
                href="/special-rules"
                class="text-gray-700 hover:text-black inline-block text-base leading-loose"
              >
                Rules Regulation
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="">
        <div class="w-full">
          <h4 class="text-dark text-lg mb-2 font-semibold">Follow Us On</h4>
          <div class="mb-6 flex text-3xl gap-8 items-center">
            <a href="#" class="">
              <MdFacebook client:only="react" />
            </a>
            <a href="#" class="">
              <MdWhatsapp client:only="react" />
            </a>
            <a href="#" class="">
              <MdMail client:only="react" />
            </a>
            <a href="#" class="">
              <FaYoutube client:only="react" />
            </a>
          </div>
        </div>
      </div>
    </div>
    <hr class="my-6" />
    <div class="flex flex-wrap items-center md:justify-between justify-center">
      <div class="w-full md:w-4/12 px-4 mx-auto text-center">
        <div class="text-sm text-blueGray-500 font-semibold py-1">
          Copyright © <span id="get-current-year">{year}</span><a
            href="#"
            class="text-blueGray-500 hover:text-gray-800"
            target="_blank"
          >
            United Academy, Samsi
          </a>
        </div>
      </div>
    </div>
    <div></div>
  </div>
  <!-- ====== Footer Section End -->
</footer>
