---
import { MdDateRange } from "react-icons/md";
---

<div
  class="grid grid-cols-1 content-center md:grid-cols-4 sm:grid-cols-2 gap-4 py-10"
>
  <div
    class="max-w-sm w-full justify-center justify-self-center mx-auto bg-white hover:text-blue-600 border border-gray-200 rounded-lg shadow"
  >
    <div class="overflow-hidden">
      <a href="#">
        <img
          class="rounded-t-lg hover:scale-110 transition duration-300 ease-in-out"
          src={"/galleryimg1.webp"}
          alt="image"
        />
      </a>
    </div>
    <div class="p-5 space-y-2">
      <p class="flex items-center text-gray-500 font-medium">
        <span class="pr-2"><MdDateRange client:only="react" /></span>
         09/10/2023
      </p>
      <p
        class="text-base font-semibold cursor-pointer hover:text-blue-600 text-gray-900"
      >
        Rabindra Jayanti Special Assembly
      </p>
    </div>
  </div>
  <div
    class="max-w-sm w-full justify-center justify-self-center mx-auto bg-white border overflow-hidden border-gray-200 rounded-lg shadow"
  >
    <div class="overflow-hidden">
      <a href="#">
        <img
          class="rounded-t-lg hover:scale-110 transition duration-300 ease-in-out"
          src={"/galleryimg1.webp"}
          alt="image"
        />
      </a>
    </div>
    <div class="p-5 space-y-2">
      <p class="flex items-center text-gray-500 font-medium">
        <span class="pr-2"><MdDateRange client:only="react" /></span>
         09/10/2023
      </p>
      <p
        class="text-base font-semibold cursor-pointer hover:text-blue-600 text-gray-900"
      >
        Rabindra Jayanti Special Assembly
      </p>
    </div>
  </div>
  <div
    class="max-w-sm w-full justify-center justify-self-center mx-auto bg-white border overflow-hidden border-gray-200 rounded-lg shadow"
  >
    <div class="overflow-hidden">
      <a href="#">
        <img
          class="rounded-t-lg hover:scale-110 transition duration-300 ease-in-out"
          src={"/galleryimg1.webp"}
          alt="image"
        />
      </a>
    </div>
    <div class="p-5 space-y-2">
      <p class="flex items-center text-gray-500 font-medium">
        <span class="pr-2"><MdDateRange client:only="react" /></span>
         09/10/2023
      </p>
      <p
        class="text-base font-semibold cursor-pointer hover:text-blue-600 text-gray-900"
      >
        Rabindra Jayanti Special Assembly
      </p>
    </div>
  </div>
  <div
    class="max-w-sm w-full justify-center justify-self-center mx-auto bg-white border overflow-hidden border-gray-200 rounded-lg shadow"
  >
    <div class="overflow-hidden">
      <a href="#">
        <img
          class="rounded-t-lg hover:scale-110 transition duration-300 ease-in-out"
          src={"/galleryimg1.webp"}
          alt="image"
        />
      </a>
    </div>
    <div class="p-5 space-y-2">
      <p class="flex items-center text-gray-500 font-medium">
        <span class="pr-2"><MdDateRange client:only="react" /></span>
         09/10/2023
      </p>
      <p
        class="text-base font-semibold cursor-pointer hover:text-blue-600 text-gray-900"
      >
        Rabindra Jayanti Special Assembly
      </p>
    </div>
  </div>
</div>
