
<div class="">
<div class="flex flex-wrap justify-center gap-5 py-10">
  <div class="h-60 w-56 bg-white rounded-md shadow-sm">
    <div class="flex justify-center w-full">
      <img src={"/user1.jpg"} class="h-32 w-32 rounded-full" alt="" />
    </div>
    <div class="p-4">
      <h2 class="text-xl font-semibold text-gray-800">John Doe</h2>
      <p class="text-gray-600">Principle</p>
    </div>
  </div>
  <div class="h-60 w-56 bg-white rounded-md shadow-sm">
    <div class="flex justify-center w-full">
      <img src={"/user1.jpg"} class="h-32 w-32 rounded-full" alt="" />
    </div>
    <div class="p-4">
      <h2 class="text-xl font-semibold text-gray-800">John Doe</h2>
      <p class="text-gray-600">Principle</p>
    </div>
  </div>
  <div class="h-60 w-56 bg-white rounded-md shadow-sm">
    <div class="flex justify-center w-full">
      <img src={"/user1.jpg"} class="h-32 w-32 rounded-full" alt="" />
    </div>
    <div class="p-4">
      <h2 class="text-xl font-semibold text-gray-800">John Doe</h2>
      <p class="text-gray-600">Principle</p>
    </div>
  </div>
  <div class="h-60 w-56 bg-white rounded-md shadow-sm">
    <div class="flex justify-center w-full">
      <img src={"/user1.jpg"} class="h-32 w-32 rounded-full" alt="" />
    </div>
    <div class="p-4">
      <h2 class="text-xl font-semibold text-gray-800">John Doe</h2>
      <p class="text-gray-600">Principle</p>
    </div>
  </div>
  <div class="h-60 w-56 bg-white rounded-md shadow-sm">
    <div class="flex justify-center w-full">
      <img src={"/user1.jpg"} class="h-32 w-32 rounded-full" alt="" />
    </div>
    <div class="p-4">
      <h2 class="text-xl font-semibold text-gray-800">John Doe</h2>
      <p class="text-gray-600">Principle</p>
    </div>
  </div>
</div>
</div>